<!doctype html>
<html lang="es" ng-app="appSnippets">
<head>
	<meta charset="UTF-8">
	<title>Angular snippets with boostrap</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
<div class="main">
		<!-- directivas como nombre de atributo restrict:"A"-->
		<div class="row">
			<div class="col-md-3">
			<user-data></user-data>	
			
			<user-data-scope></user-data-scope>
			<user-data-outside-ctrl></user-data-outside-ctrl>

			<!-- directiva en elemento DIV restrict:"E" -->
			<div user-data-attr></div>
			</div>

		
			<div class="col-md-3">
				<!-- modify models profiles within SCOPE (not in an alias CONTROLLER) -->
				<div> <!-- form 1 -->
				<h3>form 2 (sin alias controller dentro de scope directamente:)</h3>
			<input type="text" name="name" ng-model="username" placeholder="name"/></br>
			<input type="text" name="surname" placeholder="surname"  ng-model="surname"/></br>
			<input type="text" name="age"  placeholder="age" ng-model="age" />
			</br>
				</div>

				<!-- modify models profiles within an ALIAS CONTROLLER -->
				<div style="margin:20px 0"> <!-- form 2 -->
				<h3>form 2 (con un alias controller controllerAs:)</h3>
				<input type="text" name="name" ng-model="dataCtrl.username" placeholder="name"/></br>
				<input type="text" name="surname" placeholder="surname"  ng-model="dataCtrl.surname"/></br>
				<input type="text" name="age"  placeholder="age" ng-model="dataCtrl.age" /></br>
				</div>
			</div>
			<div class="col-md-3">	
				<h2> Cacharreando el SCOPE</h2>
				<!-- ENTENDIENDO EL SCOPE -->
				<p>Explicación: cuando modificamos un elemento en un hijo, este se modifica en el parent, por ello necesitamos crear un isolate scope (aislado), es decir, un scope para cada vez que se muestra la directiva </p>
				<increment-num></increment-num></br>
				<increment-num></increment-num></br>
				<increment-num></increment-num></br>
				<increment-num></increment-num></br>
			</div>	
			<div class="col-md-3"  ng-repeat="item in data">
			<isolate-scope-test header="item.title" 
							   description="item.description">
			</isolate-scope-test >

			</div>
		</div>

</div>	

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js">
	</script>
	<!-- <script src="https://code.angularjs.org/1.5.0-rc.0/angular-route.min.js"></script> -->
	<script src="js/angular/controllers/user-data.js"></script> 
	<script src="js/angular/directives/user.js"></script>
	

</body>
</html>